@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap");

body {
  font-family: "Heebo", sans-serif;
}

h1 {
  color: rgb(248, 234, 235);
  font-size: 40px;
  font-weight: bold;
  line-height: 30px;
  margin-bottom: 10px;
  text-shadow: 1px 1px 3px rgb(192, 108, 132), 0 0 15px rgb(246, 114, 128), 0 0 3px rgb(177, 82, 92);
}

footer {
  font-size: 15px;
  margin-left: 10px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  color: rgba(33, 33, 33, 0.863);
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 0px;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-temperature strong {
  color: rgb(192, 108, 132);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature a {
  text-decoration: none;
}

.weather-temperature {
  color: rgba(33, 33, 33, 0.863);
  cursor: default;
}
.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  color: rgb(33, 33, 33);
  margin: 25px 0px 15px 0px;
  text-align: center;
}

.weather-app-wrapper {
  margin: 30px auto;
  max-width: 450px;
}
.weather-app {
  background-image: linear-gradient(to top, rgba(255, 0, 0, 0), rgba(248, 177, 149, 0.637));
  border: 2px solid rgba(108, 91, 123, 0.753);
  border-radius: 10px;
  box-shadow: 5px 5px 10px 2px #dadde1;
  padding: 20px;
  margin-bottom: 15px;
}
.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  float: left;
  margin-right: 3px;
  height: 80px;
  width: 80px;
}

.weather-forecast-date {
  font-size: 20px;
  opacity: 0.9;
  font-weight: 400;
}

.weather-forecast-temperatures {
  font-size: 13px;
}
.weather-forecast-temperature-min {
  opacity: 0.6;
}
